module.exports = {
  name: '@@@@ClientName@@@@',      // Set client name
  loglv: 'info',                   // debug > trace > info > warning > error
  logfile: 'esas_core_server.log', //
  customFields: {
    'Segment': 'Segment',
    'Channel': 'Channel',
    'StartPosSec': 'StartPosSec',
    'StartTime': 'StartTime',      // V1 only
    'EndPosSec': 'EndPosSec',
    'Energy': 'Energy',
    'Stress': 'Stress',
    'Concentration': 'Concentration',
    'Anticipation': 'Anticipation',
    'Excitement': 'Excitement',
    'Hesitation': 'Hesitation',
    'Uncertainty': 'Uncertainty',
    'IntensiveThinking': 'IntensiveThinking',
    'ImaginationActivity': 'ImaginationActivity',
    'Embarrassment': 'Embarrassment',
    'Passionate': 'Passionate',
    'BrainPower': 'BrainPower',
    'Confidence': 'Confidence',
    'Aggression': 'Aggression',
    'AgentScore': 'AgentScore',
    'CallPriority': 'CallPriority',
    'Atmosphere': 'Atmosphere',
    'Upset': 'Upset',
    'Content': 'Content',
    'Dissatisfaction': 'Dissatisfaction',
    'ExtremeEmotion': 'ExtremeEmotion',
    'EMO/COG': 'EMO/COG',
    // 'engine.index': 'engine.index',
    // 'engine.channel': 'engine.channel',
    // 'engine.startPosSec': 'engine.startPosSec',
    // 'engine.endPosSec': 'engine.endPosSec',
    // 'engine.validSegment': 'engine.validSegment',
    // 'engine.energy': 'engine.energy',
    // 'engine.joy': 'engine.joy',
    // 'engine.sad': 'engine.sad',
    // 'engine.aggression': 'engine.aggression',
    // 'engine.stress': 'engine.stress',
    // 'engine.uncertainty': 'engine.uncertainty',
    // 'engine.excitement': 'engine.excitement',
    // 'engine.uneasy': 'engine.uneasy',
    // 'engine.concentration': 'engine.concentration',
    // 'engine.anticipation': 'engine.anticipation',
    // 'engine.hesitation': 'engine.hesitation',
    // 'engine.emotionBalance': 'engine.emotionBalance',
    // 'engine.emotionEnergyBalance': 'engine.emotionEnergyBalance',
    // 'engine.mentalEffort': 'engine.mentalEffort',
    // 'engine.imagination': 'engine.imagination',
    // 'engine.arousal': 'engine.arousal',
    // 'engine.overallCognitiveActivity': 'engine.overallCognitiveActivity',
    // 'engine.emotionCognitiveRatio': 'engine.emotionCognitiveRatio',
    // 'engine.extremeEmotion': 'engine.extremeEmotion',
    // 'engine.atmosphere': 'engine.atmosphere',
    // 'engine.voiceEnergy': 'engine.voiceEnergy',
    // 'engine.dissatisfied': 'engine.dissatisfied',
    // 'engine.EDP-Energetic': 'engine.EDP-Energetic',
    // 'engine.EDP-Passionate': 'engine.EDP-Passionate',
    // 'engine.EDP-Emotional': 'engine.EDP-Emotional',
    // 'engine.EDP-Uneasy': 'engine.EDP-Uneasy',
    // 'engine.EDP-Stressful': 'engine.EDP-Stressful',
    // 'engine.EDP-Thoughtful': 'engine.EDP-Thoughtful',
    // 'engine.EDP-Confident': 'engine.EDP-Confident',
    // 'engine.EDP-Concentrated': 'engine.EDP-Concentrated',
    // 'engine.EDP-Anticipation': 'engine.EDP-Anticipation',
    // 'engine.EDP-Hesitation': 'engine.EDP-Hesitation',
    // 'engine.callPriority': 'engine.callPriority',
    // 'engine.callPriorityAgent': 'engine.callPriorityAgent',
    // 'engine.VOL1': 'engine.VOL1',
    // 'engine.VOL2': 'engine.VOL2',
    // 'engine.SOS': 'engine.SOS',
    // 'engine.AVJ': 'engine.AVJ',
    // 'engine.Fant': 'engine.Fant',
    // 'engine.Fflic': 'engine.Fflic',
    // 'engine.Fmain': 'engine.Fmain',
    // 'engine.JQ': 'engine.JQ',
    // 'engine.LJ': 'engine.LJ',
    // 'engine.SPJ': 'engine.SPJ',
    // 'engine.SPT': 'engine.SPT',
    // 'engine.intCHL': 'engine.intCHL',
    'report.MEE': 'MEE',
  },
  server: {
    workers: 4, // More than equal 1
    softkillTimeout: 600000, // SIGHUP timeout
    rtp: {
      url: 'rtp://127.0.0.1', // for Address field in '/CallOperation'
    },
    session: {
      maxTermMS: 3600000,
    },
    v1: {
      realtimeNotificationUrl: 'http://localhost/ESASQA',
      wsPort: 8001, // for WebSocket p command.
    },
    v2: {
      donwloadExpire: 3600, // The downloadable term of the CSV at fileUplaod.html.
      socketio: {
        heartbeatTimeout: 10000,
        heartbeatInterval: 4500,
      },
    },
  },
  engine: {
    password: 'DNNXGCK($L)3JUPRJ2EC4LQQ#QIDMT@R@T^P64QTFPHE3Q)KK*CUVD95Z8UH@6W2',
    apiKey: 'ce22d598-9723-45b0-850e-d6056bf58d3c',
    dockerName: 'engine-server',
    backgroundNoise: 1000,
    analysisReportReadyTimeout: 5000,
  },
  front: {
    uploadLimit: 3, // Number of files uploaded in parallel.
  },
};
