<% is_logged_in? %>

<div class="container grid-full">
  <div class="row">
    <div class="col-12">
      <h4 style="margin: 20px 0px;">Audit Logs</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Admin1</th>
            <td>Admin</td>
            <td>Login</td>
            <td>Login complete</td>
            <td>09:05:11 20/01/2024</td>
          </tr>
          <tr>
            <th>Admin1</th>
            <td>Admin</td>
            <td>Add user</td>
            <td>Add has been successfuly</td>
            <td>09:25:26 20/01/2024</td>
          </tr>
          <tr>
            <th>Supervisor4</th>
            <td>Supervisor</td>
            <td>Login</td>
            <td>Login complete</td>
            <td>11:05:00 17/02/2024</td>
          </tr>
          <tr>
            <th>Operator9</th>
            <td>Operator</td>
            <td>Login</td>
            <td>Login complete</td>
            <td>11:05:20 17/02/2024</td>
          </tr>
          <tr>
            <th>Supervisor4</th>
            <td>Supervisor</td>
            <td>Update</td>
            <td>Update operator successfuly</td>
            <td>12:05:20 17/02/2024</td>
          </tr>
          <tr>
            <th>Operator9</th>
            <td>Operator</td>
            <td>Edit</td>
            <td>Edit audio has been successfuly</td>
            <td>15:35:00 20/02/2024</td>
          </tr>
          <tr>
            <th>Operator9</th>
            <td>Operator</td>
            <td>Edit</td>
            <td>Edit audio has been successfuly</td>
            <td>17:00:20 20/02/2024</td>
          </tr>
        </tbody>
      </table>
      <tfoot>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </tfoot>
    </div>
  </div>
</div>