<% is_logged_in? %>

<div class="container grid-full">
    <div class="row">
        <div class="col-12">
        <h4 style="margin: 20px 0px;">User</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row g-3 align-items-center" style="margin-bottom: 20px;">
                <div class="col-auto">
                    <label for="staticOrganization" class="col-form-label">Organization ID.</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" id="staticOrganization">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
                Add user
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadUser">
                Upload .CSV
            </button>
            <%= render partial: "create_form" %>
            <%= render partial: "upload_modal" %>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12">
            <%= render partial: "table" %>
        </div>
    </div>
</div>