<% is_logged_in? %>

<div class="container grid-full">
    <div class="row">
        <div class="col-12">
        <h4 style="margin: 20px 0px;">User</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row g-3 align-items-center" style="margin-bottom: 20px;">
                <div class="col-auto">
                    <label for="staticOrganization" class="col-form-label">Organization ID.</label>
                </div>
                <div class="col-auto" style="width: 200px;">
                    <%= select("post", "person_id", @organizations, { include_blank: true, selected: session["current_organization"] }, {id:"staticOrganization", class: "form-select", aria_label:"Default select example", disabled: edit_organization?() }) %>
                </div>
            </div>
        </div>
        <%# <div class="col-6"></div> %>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
                Add user
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadUser">
                Upload .CSV
            </button>
            <%= render partial: "create_form" %>
            <%= render partial: "upload_modal" %>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12">
            <%= render partial: "table" %>
        </div>
    </div>
</div>