<nav class="navbar navbar-expand-lg nav-bg-body">
    <div class="container-fluid">
        <p id="div-btn-menu">
            <button class="btn btn-primary" id="btn-menu-icon" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
        </p>
        
        <a class="navbar-brand" href="#">ESAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-link-top" href="#">Search</a>
                </li>
                <li class="nav-item dropdown logout">
                    <a class="nav-link nav-link-top dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= session["current_user"].present? ? session["current_user"]["firstname"] : "User" %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><%= link_to "Logout", logout_path(), data: { turbo_method: :post }, id: "btn-logout" %></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div id="div-side-menu">
            <ul class="navbar-nav">
                <li class="nav-item-side">
                    <a class="nav-link nav-link-side" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item-side">
                    <a class="nav-link nav-link-side" href="#">User</a>
                </li>
            </ul>
        </div>
    </div>
</div>