<div class="container text-center grid-login">
  <div class="row">
    <div class="col"></div>
    <div class="col-6 div-registration-box" data-controller="regis-form">
        <%= render :partial => "create_form"%>
        <%= render :partial => "upload_form"%>
        <%# <%= render :partial => "upload_modal"%>
    </div>
    <div class="col"></div>
  </div>
</div>
