/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap"; 

 body{ overflow: hidden; }
 .alert{
    z-index: 999;
 }
 .bg-login{
    position: absolute;
    z-index: -1;
    overflow: hidden;
 }

 #div-btn-menu{
    margin-bottom: 0px;
    margin-left: 20px;
 }
 #btn-menu-icon{
    padding: 5px 10px;
    background-color: #F7FBFE;
    color: #496BF1;
    border: 1px solid #496BF1;
 }
 .nav-bg-body{
    background: #496BF1;
 }
 .nav-link-top, .navbar-brand{
    color: #F7FBFE;
 }
 #div-side-menu{
    z-index: 99;
    position: absolute;
    width: 300px;
    height: -webkit-fill-available;
    background: #E8F3F9;
 }
 .nav-link-side{
    color: #343434;
    padding: 20px;
 }
 .nav-link-side:hover{
    background-color: #496BF1;
    color: #F7FBFE;
    padding: 20px;
 }
 .nav-item.end{
   margin: 0px 5px;
 }

 .dropdown.logout{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }
 .div-alert{
    margin-bottom: 0px !important;
    position: absolute;
    left: 0;
    right: 0;
 }
 .btn-close-alert{
    right: 10px;
    position: absolute;
 }
 .btn-close-alert:active{
    border: none;
 }
 #btn-logout{
    cursor: pointer;
    padding: 10px 10px;
    color: #343434;
    text-decoration: none;
    display: list-item
 }
 #btn-logout:hover{
    background-color: #496BF1;
    color: #F7FBFE;
 }
 .div-body{
    // margin-left: 300px;
 }

 .btn{
   color: #F7FBFE;
   background-color: #496BF1;
 }

 .btn:hover{
   color: #496BF1;
   background-color: #F7FBFE;
   border: solid 1px #496BF1;
 }

 .nav-item > button:hover{
   color: black;
 }
 .page-item > a{
   color: #496BF1;
 }
 .div-alert-message{
   width: 300px;
 }
 .line-alert{
   color: #A1A1A1;
   margin: auto;
 }