.grid-full{
    max-width: 90% !important;
}
.bg-block{
    background-color: rgba(247, 251, 254, 0.75);
    border-color: #F7FBFE;
    border-radius: 20px;
    margin: 20px;
    min-height: 250px;
    max-height: 450px;
    overflow-y: auto;
}
.label-positions{
    font-size: 13px;
    display: block;
}
.hr-line{
    color: #A1A1A1;
}