.grid-full{
    max-width: 90% !important;
}
.bg-block{
    background-color: rgba(247, 251, 254, 0.75);
    border-color: #F7FBFE;
    border-radius: 20px;
    margin: 20px;
    min-height: 250px;
    max-height: 450px;
    overflow-y: auto;
}
.bg-block.sv{
    max-height: 700px !important
}
#btn-date-daily, #btn-date-monthly, #btn-date-range{
    color: #496BF1;
    background-color: #F7FBFE;
    border: 1px solid #496BF1;
}
.btn-check:checked+.btn{
    color: #F7FBFE !important;
    background-color: #496BF1 !important;
    border: 1px solid #496BF1 !important;
}
.label-positions{
    font-size: 13px;
    display: block;
}
.hr-line{
    color: #A1A1A1;
}